--- Setup database, schema and roles
CREATE DATABASE faction;

CREATE USER factionreadwrite WITH PASSWORD '${RW_PASS}'; 
GRANT CONNECT ON DATABASE faction TO factionreadwrite;
GRANT ALL PRIVILEGES ON DATABASE faction TO factionreadwrite;

CREATE USER factionreadonly WITH PASSWORD '${RO_PASS}';
GRANT CONNECT ON DATABASE faction TO factionreadonly;

\c faction
CREATE SCHEMA IF NOT EXISTS faction;

GRANT USAGE ON SCHEMA faction TO factionreadwrite;
ALTER USER factionreadwrite SET search_path='faction';

GRANT USAGE ON SCHEMA faction TO factionreadonly;
ALTER USER factionreadonly SET search_path='faction';

GRANT SELECT ON ALL TABLES IN SCHEMA faction TO factionreadonly;
GRANT SELECT ON ALL SEQUENCES IN SCHEMA faction TO factionreadonly;
GRANT ALL ON ALL TABLES IN SCHEMA faction TO factionreadwrite;
GRANT ALL ON ALL SEQUENCES IN SCHEMA faction TO factionreadwrite;
